body {
    font-family: "Inter", Arial, sans-serif;
    background:
        radial-gradient(circle at top, #1f2937, #050505 70%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;
}


.container {
    width: 420px;
}


h1 {
    text-align: center;
    color: #f8fafc;
    letter-spacing: 1px;
}


.input-box {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}


input,
textarea {

    width:100%;
    margin-bottom:15px;
    padding:14px;

    background:#111827;
    color:white;

    border:1px solid #374151;
    border-radius:12px;

}


textarea {
    height:100px;
}



button {

    width:100%;
    padding:14px;

    background:linear-gradient(
        135deg,
        #d4af37,
        #f59e0b
    );

    color:#111827;

    font-weight:bold;

    border:none;
    border-radius:12px;

    cursor:pointer;

}



.notification {

    margin-top:30px;

    background:
    linear-gradient(
        145deg,
        #111827,
        #030712
    );

    padding:30px;

    border-radius:25px;

    border:1px solid rgba(212,175,55,.35);

    box-shadow:
    0 25px 60px rgba(0,0,0,.8);

}



.notification h2 {

    color:#facc15;

}


.amount {

    font-size:34px;
    font-weight:800;
    color:white;
    margin:25px 0;

}



.status {

    background:
    linear-gradient(
        135deg,
        #16a34a,
        #22c55e
    );

    padding:12px;

    border-radius:12px;

    text-align:center;

    font-weight:bold;

}



.download {

    margin-top:20px;

    background:#f8fafc;

    color:#111827;

}
