body{

    font-family: Arial, sans-serif;

    background:
    radial-gradient(circle at top, #252525, #000000);

    display:flex;

    justify-content:center;

    padding:40px;

    color:white;

}


/* Main Area */

.container{

    width:420px;

}



/* Title */

h1{

    text-align:center;

    color:white;

    letter-spacing:1px;

}



/* Input Box */

.input-box{

    background:#111111;

    padding:20px;

    border-radius:15px;

    border:1px solid rgba(212,175,55,0.4);

    box-shadow:

    0 10px 30px rgba(0,0,0,0.8);

}



/* Input */

input,
textarea{

    width:100%;

    margin-bottom:12px;

    padding:12px;

    box-sizing:border-box;

    background:#050505;

    color:white;

    border:1px solid #333;

    border-radius:8px;

}



input::placeholder,
textarea::placeholder{

    color:#888;

}



textarea{

    height:100px;

}



/* Gold Button */

button{

    width:100%;

    padding:12px;

    background:

    linear-gradient(
        135deg,
        #d4af37,
        #f7e27e,
        #b8860b
    );


    color:#000;

    border:0;

    border-radius:10px;

    cursor:pointer;

    font-weight:bold;

    box-shadow:

    0 8px 25px rgba(212,175,55,0.45);

}



/* Notification Main Card */

.notification{

    margin-top:30px;

    background:

    linear-gradient(
        145deg,
        #151515,
        #050505
    );


    padding:25px;

    border-radius:20px;


    border:

    1px solid rgba(212,175,55,0.6);


    box-shadow:

    0 15px 40px rgba(0,0,0,0.9);

}



/* Each Section */

.notification-section{

    background:#111111;

    margin-bottom:12px;

    padding:15px;

    border-radius:12px;

    border-left:3px solid #d4af37;

    box-shadow:

    0 5px 15px rgba(0,0,0,0.5);

}



/* Section Title */

.section-title{

    color:#d4af37;

    font-size:14px;

    margin-bottom:5px;

}



/* Section Text */

.section-value{

    color:white;

    font-size:16px;

    font-weight:bold;

}



/* Amount */

.amount{

    font-size:28px;

    font-weight:bold;

    margin:20px 0;

    color:white;

}



/* Status */

.status{

    background:#16a34a;

    color:white;

    padding:10px;

    border-radius:10px;

    text-align:center;

}



/* Download Button */

.download{

    margin-top:20px;

    background:

    linear-gradient(
        135deg,
        #ffffff,
        #cccccc
    );

    color:#000;

}
